Repository HYF-Connect/hyf-connect, pull requests merged in 2022-01, with the labels that each got.

#96 34 - Registered user can create and delete a profile
  api/access.log
  api/business-logic/README.md
  api/business-logic/login.js
  api/business-logic/user.js
  api/controllers/README.md
  api/controllers/login.js
  api/controllers/user.js
  api/middleware/validate-login.js
  api/routes/index.js
  api/routes/login.js
  api/routes/user.js
  client/pages/login/form-section.js
Labels: server, user-profile

#85 creating project and adding a new project process is working
  api/business-logic/project.js
  api/controllers/project.js
  api/routes/index.js
  api/routes/project.js
Labels: javascript, database

#101 creating project juction tables with editing and deleteing fileds
  api/business-logic/project.js
  api/controllers/project.js
  api/routes/project.js
Labels: javascript, database, projects

#102 fixing fetching users
  api/business-logic/user.js
Labels: database

#95 20-create About-us page
  client/images/homepage/hyf-team.jpeg
  client/images/members/Axil.png
  client/images/members/InggritEN.jpeg
  client/images/members/InggritEN.jpg
  client/pages/about-us/about-us.js
  client/pages/about-us/main-section.js
  client/pages/about-us/profile-card.js
  client/pages/about-us/profilecard-component.js
  client/styles/styles.css
Labels: css, html, about-us

#103 26-Avatarpage dropdown
  client/components/avatar-dropdown-component.js
  client/components/header-component.js
  client/pages/.DS_Store
  client/pages/avatar-page/avatar-page.html
  client/pages/avatar-page/avatar-page.js
  client/pages/homepage/homepage.html
  client/styles/avatar.css
  client/styles/styles.css
  package-lock.json
Labels: css, html

#99 23-create-contact-us-page
  .DS_Store
  .vscode/settings.json
  client/.DS_Store
  client/images/contact-us/Rectangle 740.png
  client/images/contact-us/Screenshot_2021-12-08.png
  client/pages/.DS_Store
  client/pages/avatar-page/AVATAR.css
  client/pages/avatar-page/AVATAR.html
  client/pages/avatar-page/avatar-page.html
  client/pages/avatar-page/firewyni.jpeg
  client/pages/contact-us/contact-us.js
  client/pages/contact-us/form-section.js
  client/pages/contact-us/main-section.js
  client/pages/sign-up/sign-up.js
  client/styles/styles.css
  package-lock.json
Labels: javascript, contact-us

#94 19 create members page
  api/business-logic/login.js
  api/business-logic/user.js
  api/controllers/user.js
  api/routes/index.js
  api/routes/user.js
  client/assets/JS-logo.png
  client/assets/MySQL-logo.png
  client/assets/css-logo.png
  client/assets/figma-logo.png
  client/assets/github-logo.png
  client/assets/html-logo.png
  client/assets/java-logo.png
  client/assets/mongodb-logo.png
  client/assets/nodejs-logo.png
  client/assets/php-logo.png
  client/assets/python-logo.png
  client/assets/react-logo.png
  client/assets/vue-logo.png
  client/components/avatar-dropdown-component.js
  client/components/header-component.js
  client/pages/about-us/about-us.html
  client/pages/add-new-project/add-new-project.html
  client/pages/avatar-page/avatar-page.html
  client/pages/contact-us/contact-us.html
  client/pages/homepage/homepage.html
  client/pages/login/form-section.js
  client/pages/login/login.html
  client/pages/login/login.js
  client/pages/members/banner-section.js
  client/pages/members/main-section.js
  client/pages/members/member-Component.js
  client/pages/members/members-ticket-Section.js
  client/pages/members/members.html
  client/pages/members/members.js
  client/pages/projects/projects.html
  client/pages/sign-up/sign-up.html
  client/pages/user-profile/user-profile.html
  client/pages/user-project/user-project.html
  client/src/data-access/api-calls/calls.js
  client/styles/avatar.css
  client/styles/login.css
  client/styles/styles.css
Labels: css, html, javascript, database, members

#118 40-building-a-member-profile-pages
  client/pages/user-profile/main-section.js
  client/pages/user-profile/personal-details-section.js
  client/pages/user-profile/profile-image-component.js
  client/pages/user-profile/user-profile.html
  client/pages/user-profile/user-profile.js
  client/styles/user-profile.css
Labels: javascript, user-profile

#108 18 create projects page (frontend & backend)
  api/business-logic/project.js
  api/controllers/project.js
  api/routes/project.js
  client/components/project-component.js
  client/images/projects/project-page-banner.png
  client/images/projects/projetct-page-banner.png
  client/pages/homepage/homepage.html
  client/pages/members/members-ticket-Section.js
  client/pages/projects/main-section.js
  client/pages/projects/projects.html
  client/pages/projects/projects.js
  client/src/data-access/api-calls/calls.js
  client/styles/avatar.css
  client/styles/project-component.css
  client/styles/styles.css
Labels: css, html, javascript, projects

#117 20 -Fix create about-us page
  client/pages/about-us/about-us.html
  client/pages/about-us/about-us.js
  client/pages/about-us/main-section.js
  client/styles/about-us.css
  client/styles/styles.css
Labels: css, html, about-us

#125 42 mobile header menu
  client/assets/favicon.ico
  client/assets/hyf-connect-logo.png
  client/assets/hyh-connect-logo-header.png
  client/components/avatar-dropdown-component.js
  client/components/header-component.js
  client/components/header.html
  client/images/homepage/key_benefit_first.png
  client/images/homepage/key_benefit_second.png
  client/images/homepage/key_benefit_third.png
  client/pages/homepage/homepage.html
  client/pages/projects/projects.html
  client/styles/header.css
  client/styles/styles.css
Labels: css, html

#105 25 create add new project page
  api/business-logic/project.js
  api/business-logic/user.js
  api/controllers/project.js
  api/routes/project.js
  client/components/avatar-dropdown-component.js
  client/components/multiselect-component.js
  client/components/project-component.js
  client/pages/add-new-project/add-new-project.js
  client/pages/add-new-project/main-section.js
  client/pages/add-new-project/project-form-component.js
  client/pages/avatar-page/AVATAR.css
  client/pages/avatar-page/AVATAR.html
  client/pages/edit-user-profile/edit-form-section.js
  client/pages/edit-user-profile/edit-image-component.js
  client/pages/projects/main-section.js
  client/pages/sign-up/form-section.js
  client/src/data-access/api-calls/calls.js
  client/styles/add-new-project.css
  client/styles/styles.css
  client/styles/upload-image.css
Labels: css, html, javascript, add-new-project

#129 38-contact-us-backend
  api/business-logic/contact-us.js
  api/controllers/contact-us.js
  api/controllers/login.js
  api/controllers/user.js
  api/routes/contact-us.js
  api/routes/index.js
  client/pages/contact-us/form-section.js
  client/src/data-access/api-calls/calls.js
  package-lock.json
  package.json
Labels: javascript, contact-us

#132 45-disable-project-component-buttons
  client/components/project-component.js
  client/styles/project-component.css
Labels: html, projects

#137 49-fix-links-mobile-header-menu
  client/components/header-component.js
Labels: fix

#142 51-fix-about-us-page-buttons-hover
  client/pages/about-us/main-section.js
  client/styles/about-us.css
Labels: fix

#144 54-fix-user-profile-page-styling
  client/pages/user-profile/profile-image-component.js
  client/styles/user-profile.css
Labels: css, fix

#147 53 - fix login page
  client/styles/login.css
Labels: log-in, fix

#145 48 - fix add project page
  client/pages/add-new-project/project-form-component.js
  client/styles/add-new-project.css
Labels: add-new-project

#149 50 - fix sign up page
  client/pages/sign-up/form-section.js
  client/pages/sign-up/sign-up.html
  client/styles/sign-up.css
  client/styles/styles.css
Labels: bug, sign-up

#150 46 - fix edit user page
  api/business-logic/project.js
  api/business-logic/user.js
  api/utils/remove-duplicate.js
  client/components/multiselect-component.js
  client/pages/edit-user-profile/edit-form-section.js
  client/pages/edit-user-profile/edit-user-profile.html
  client/pages/edit-user-profile/edit-user-profile.js
  client/pages/user-profile/user-profile-projects-section.js
  client/styles/add-new-project.css
  client/styles/edit-user-profile.css
  client/styles/styles.css
  client/styles/upload-image.css
  client/styles/user-profile.css
Labels: user-profile, fix

#158 47-fix-my-project-page
  client/components/project-component.js
  client/pages/user-project/user-project-component.js
  client/styles/project-component.css
  client/styles/user-project.css
Labels: css, javascript, my project

#155 57-adding-favicon
  client/index.html
  client/pages/about-us/about-us.html
  client/pages/add-new-project/add-new-project.html
  client/pages/avatar-page/avatar-page.html
  client/pages/contact-us/contact-us.html
  client/pages/edit-project/edit-project.html
  client/pages/edit-user-profile/edit-user-profile.html
  client/pages/homepage/homepage.html
  client/pages/login/login.html
  client/pages/members/members.html
  client/pages/projects/projects.html
  client/pages/sign-up/sign-up.html
  client/pages/user-profile/user-profile.html
  client/pages/user-project/user-project.html
Labels: html

#164 59 - fix avatar dropdown menu and header
  api/utils/welcome-email.js
  client/components/avatar-dropdown-component.js
  client/components/header-component.js
  client/pages/about-us/about-us.html
  client/pages/add-new-project/add-new-project.html
  client/pages/avatar-page/avatar-page.html
  client/pages/contact-us/contact-us.html
  client/pages/edit-project/edit-project.html
  client/pages/edit-user-profile/edit-user-profile.html
  client/pages/homepage/homepage.html
  client/pages/login/login.html
  client/pages/members/members.html
  client/pages/projects/projects.html
  client/pages/sign-up/sign-up.html
  client/pages/user-profile/user-profile.html
  client/pages/user-project/user-project.html
  client/styles/avatar.css
  client/styles/header.css
Labels: css, fix

#165 39 - fix footer
  client/components/avatar-dropdown-component.js
  client/components/footer-component.js
  client/pages/edit-project/project-form-component.js
  client/styles/avatar.css
  client/styles/footer.css
  client/styles/header.css
Labels: css, fix

#168 39-fix footer
  client/styles/footer.css
  client/styles/header.css
Labels: css

#169 44 responsive members page
  client/assets/react-logo.png
  client/components/header-component.js
  client/pages/members/banner-section.js
  client/styles/members.css
  client/styles/styles.css
Labels: css

#178 64 fix banner title projects page
  client/pages/about-us/about-us.js
  client/styles/about-us.css
  client/styles/project.css
Labels: bug, css

#183 reverse the order of members
  api/business-logic/contact-us.js
  api/business-logic/user.js
  api/controllers/contact-us.js
  api/db/scripts/create-db.js
  api/middleware/validate-login.js
  api/routes/index.js
  api/utils/create-token.js
  client/components/avatar-dropdown-component.js
  client/components/header-component.js
  client/components/multiselect-component.js
  client/pages/about-us/main-section.js
  client/pages/add-new-project/project-form-component.js
  client/pages/edit-project/project-form-component.js
  client/pages/login/form-section.js
  client/pages/members/members-ticket-Section.js
  client/pages/projects/main-section.js
  client/pages/sign-up/form-section.js
  client/styles/edit-user-profile.css
Labels: javascript

#185 small changes in homepage and about us page
  api/business-logic/contact-us.js
  api/business-logic/user.js
  api/controllers/contact-us.js
  api/db/scripts/create-db.js
  api/middleware/validate-login.js
  api/routes/index.js
  api/utils/create-token.js
  client/components/avatar-dropdown-component.js
  client/components/header-component.js
  client/components/multiselect-component.js
  client/pages/about-us/main-section.js
  client/pages/add-new-project/project-form-component.js
  client/pages/edit-project/project-form-component.js
  client/pages/login/form-section.js
  client/pages/members/members-ticket-Section.js
  client/pages/projects/main-section.js
  client/pages/sign-up/form-section.js
  client/styles/about-us.css
  client/styles/edit-user-profile.css
  client/styles/homepage.css
  client/styles/members.css
Labels: bug, css, fix

#186 65 responsive user profile
  client/pages/user-profile/main-section.js
  client/pages/user-profile/user-profile.js
  client/pages/user-profile/user-skills-component.js
  client/styles/about-us.css
  client/styles/homepage.css
  client/styles/members.css
  client/styles/project-component.css
  client/styles/user-profile.css
Labels: bug, css, fix

#193 editing the project component members behavior
  client/styles/project-component.css
Labels: projects

#195 editing the login delat and the signout url page link
  client/components/avatar-dropdown-component.js
  client/components/header-component.js
  client/pages/login/form-section.js
  client/styles/login.css
Labels: log-in

#196 project creator is added to team members by default
  client/pages/add-new-project/project-form-component.js
Labels: add-new-project

#197 redirecting the user to homepage after sign in
  client/pages/login/form-section.js
Labels: log-in
